{{> jumbotron}}

{{#if description}}
<section class="presentation">
    <div class="container">
        <div class="row">
            {{#if cover}}
                <div class="col-md-4 photo">
                    <img src="{{cover.small}}" class="img-responsive img-thumbnail center-block" alt="{{t "cover"}}" />
                </div>
                <div class="col-md-8 intro">
                    {{description}}
                </div>
            {{else}}
                <div class="col-md-12 intro">
                    {{description}}
                </div>
            {{/if}}
        </div>
    </div>
</section>
{{/if}}

{{#if activities}}
<section class="activities">
    <div class="container">
        <div class="row">
            {{#each activities}}
                {{#if (modBool @index 2)}}
                    <div class="clearfix visible-sm-block"></div>
                {{/if}}

                <div class="col-md-4 col-sm-6 activity">
                    <h3>{{title}}</h3>
                    {{summary}}
                    <p class='more'>
                        <a href="{{urlFor "activities"}}" class="btn btn-purple">{{t "more_infos"}}</a>
                    </p>
                </div>
            {{/each}}
        </div>
    </div>
</section>
{{/if}}

{{#if moreDesc}}
<section class="more-description">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {{moreDesc}}
            </div>
        </div>
    </div>
</section>
{{/if}}

{{#if joinText}}
<section class="join-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {{joinText}}
            </div>
        </div>
    </div>
</section>
{{/if}}
